body {
  background-color: #41533b; /* Updated background color */
  font-family: Arial, sans-serif; /* Set a readable font */
  color: #ffffff; /* Set text color to white */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.banner {
  background-image: url("/BiohazardPrintingBanner.png");
  height: 33vh; /* Adjusted height */
  width: 100%;
  background-size: cover;
  background-position: center;
}

.top-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.top-menu a {
  background-color: #556b2f; /* Olive Drab button color */
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 16px;
  margin: 2px 64px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.top-menu a:hover {
  background-color: #6b8e23; /* Dark Olive Green hover color */
}

.content {
  max-width: 800px; /* Limit content width for readability */
  margin: 0 auto; /* Center content horizontally */
  padding: 20px; /* Add padding for spacing */
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Gap between grid items */
}

.testimonial img {
  width: 150px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
}

.review1 {
  top: 20%;
  left: 10%;
}

.review2 {
  top: 50%;
  left: 5%;
}

.review3 {
  top: 70%;
  left: 90%;
}

.review4 {
  top: 10%;
  left: 30%;
}

.review5 {
  top: 40%;
  left: 70%;
}

.review6 {
  top: 80%;
  left: 20%;
}

.review7 {
  top: 30%;
  left: 50%;
}

.review8 {
  top: 60%;
  left: 80%;
}
